:root {
    --white: #FFFFFF;
    --dark-navy: #1F314F;
    --grey: #7D889E;
    --light-grey: #D5E1EF;
    --15px: 0.9375rem;
    --16px: 1rem;
    --22px: 1.375rem;
    --24px: 1.5rem;
    --40px: 2.5rem;
    --256px: 16rem;
    --288px: 18rem;
    --320px: 20rem;
    --497px: 31.06258rem; 
}

body {
    min-height: 100vh;
    margin: 0 auto;
    background-color: var(--light-grey);
    font-family: 'Outfit', sans-serif;
    font-size: var(--15px, 15px);
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    background-color: var(--white, #FFF);
    border-radius: 20px;
    box-shadow: 0px 25px 25px 0px rgba(0, 0, 0, 0.05);
    min-height: var(--497px, 497px);
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

img {
    width: var(--288px, 288px);
    height: var(--288px, 288px);
    border-radius: 10px;
    margin: var(--16px, 16px) var(--16px, 16px) var(--24px, 24px) var(--16px, 16px);
}

h1,
p {
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;
    font-style: normal;
    line-height: normal;
    margin: 0;
}

h1 {
    width: var(--288px);
    color: var(--dark-navy, #1F314F);
    font-size: var(--22px, 22px);
    font-weight: 700;
    margin-bottom: var(--16px, 16px);
}

p {
    width: var(--256px, 256px);
    color: var(--grey, #7D889E);
    font-weight: 400;
    margin-bottom: var(--40px, 40px);
}